.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #212121; 
  font-family: Arial, sans-serif;
}

.container {
  background-color: #f5f5f5; 
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); 
  padding: 20px;
  text-align: center;
  max-width: 400px;
  width: 100%;
  transition: transform 0.3s, box-shadow 0.3s;
}

.container:hover {
  transform: translateY(-4px); 
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); 
}

h1 {
  margin-top: 0;
  color: #070707; 
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.input-field {
  width: 100%;
  padding: 10px;
  border: 1px solid #f5f5f5; 
  border-radius: 4px;
  font-size: 16px;
  margin-bottom: 10px;
  background-color: #fff; 
  color: #212121; 
  transition: background-color 0.3s; 
}

.input-field:focus {
  background-color: #f0f0f0; 
}

.submit-button {
  padding: 10px 20px;
  background-color: #ffc107;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color: #ffca28; 
}

.error {
  color: #ff4f4f;
  margin-top: 10px;
}

.card {
  background-color: #f5f5f5; 
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin-top: 20px;
  color: #212121; 
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 auto 10px;
  display: block;
}

.username {
  font-size: 24px;
  margin: 0;
}

.name,
.repos,
.gists,
.created-at {
  margin: 10px 0;
}










